{
  "extends": "airbnb",
  "globals": {
    "window": true,
    "document": true
  },
  "rules": {
    "no-underscore-dangle": "off",
    "react/jsx-filename-extension": "off",
    "import/prefer-default-export": "off"
  }
}